<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <title>Mobile Tuners</title>
</head>
<div id='head'>
<header>WELCOME TO MOBILE TUNERS</header>
</div>  
<body>
    <div id="buttons">
<button class="new1"><a href="/tuner">Find a Tuner</a></button><br>
<button class="new1"><a href="/package">Tune Package</a></button><br>
<button class="new1"><a href="/users">Member Info</a></button>
<button class="new1"><A href="/users/new">Register</A></button>
    </div>    

</body>

</html>

