
  
  
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
     
        <div class="usersindex">
     <h1 class="display">Users</h1>
        <button class="new1"><a href="/users/new">Add a New User</a></button>
      </div>
    
    <div>
    <div id="userindex"> 
    </div>
     <div>
      <ul class="listgroup"> 
    {{#each users}}
        <div>
          <li class="list-group-item"><h3>Name:{{name}}</h3> </li>   
        </div>
        <div>
          <li class="list-group-item"><h3>Contact:{{email}}</h3> </li>
        </div>   
        <div>
           <li class="list-group-item"><h3>Cars:</h3> 
           {{stable.make}}
           {{stable.model}}</li>
        </div>        
    {{/each}} 
         </ul>
      </div>
    
        
  
