<form action="/users" method="POST">

    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="phoneNumber">Phone Number</label>
    <input type="number" name="phoneNumber">

    <label for="email">Email</label>
    <input type="text" name="email">

    <label for="userName">User Name</label>
    <input type="text" name="userName">

    <label for="password">Password</label>
    <input type="text" name="password">

   


    <input type='submit' value='Create'>

</form>