<h1 id="newtunerinfo">Register</h1>

<form action="/tuner" method="POST">
<div id="newtuner">
    {{!-- <label for="name"><h3>Name:</h3></label> --}}
    <input type="text" class="form-control" id="formGroupExampleInput2" name="name" placeholder="name"><br>

    {{!-- <label for="phoneNumber"><h3>Phone Number:</h3></label> --}}
    <input type="number" class="form-control" id="formGroupExampleInput2" name="phoneNumber" placeholder="phone number"><br>

    {{!-- <label for="email"><h3>Email:</h3></label> --}}
    <input type="text" class="form-control" id="formGroupExampleInput2" name="email" ><br>

    {{!-- <label for="location"><h3>Location:</h3></label> --}}
    <input type="text" class="form-control" id="formGroupExampleInput2" name="location" placeholder="location"><br>

    {{!-- <label for="experience"><h3>Experience</h3></label> --}}
    <input type="text" class="form-control" id="formGroupExampleInput2" name="experience" placeholder="experience"><br>

    <button type='submit' class="form-control" value='Create'class="btn btn-light">Register</button>
</div>
</form>
<button class="new1"><a href="/">Home</a></button>