<form action="/users/{{userId}}/cars" method="POST">

    <label for="make">Make</label>
    <input type="text" name="make">

    <label for="model">Model</label>
    <input type="text" name="model">

    <label for="year">Year</label>
    <input type="number" name="year">

    <label for="engine">Engine</label>
    <input type="text" name="engine">

    <label for="trans">Trans</label>
    <input type="text" name="trans">

    <label for="vin">VIN</label>
    <input type="text" name="vin">

    <input type="submit" value="Create">
</form>